<?xml version="1.0" encoding = "UTF-8"?>
<!--  <suite name="TestRemote" "parallel"=true>

<test name="ParallelChrome" thread-count=5>
<parameter name="browser" value="chrome"/>
<classes>
<class name = "TestParallel.java"/>
</classes>
</test>

<test name="ParallelFirefox" thread-count=5>
<parameter name="browser" value="firefox"/>
<classes>
<class name = "TestParallel.java"/>
</classes>
</test>

<test name="ParallelEdge" thread-count=5>
<parameter name="browser" value="edge"/>
<classes>
<class name = "TestParallel.java"/>
</classes>
</test>

</suite>
-->
<suite>
<test name="TestRemote">
<classes>
<class name = "TestRemote.java"/>
</classes>

</test>
</suite>